*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 19px;
    background-color: black !important;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav input{
    width: 20%;
    height: 30px;
    border-radius: 1rem;
    font-size: 2rem;
}

.cardsMain{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin: auto;
    
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    text-align: center;
}
.imgModal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text1{
    font-size: 2rem;
}

.datos{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 3rem;
    justify-content: center;
    align-items: center;
}